body{
    background-color: #B6E1E7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    font-size: 90%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
label{
    display:block;
    margin: 0 auto;
    width:30%;
    padding: -5%;
}
#inputText{
    text-align: center;
    padding: -5%;
}
#instructions{
    text-align: center;
    padding: -5%;
}
textarea{
    background-color: #F9B872;
    display: block;
    margin: 0 auto;
    font-size:medium;
}
button{
    background-color: #FAE7A5;
    display: block;
    margin: 0 auto;
    width: 15%;
    padding: 0.5%;
    text-align: center;
    font-size: medium;
}
h1{
    text-align: center;
    color: black;
}
div{
   margin: 0 auto;
    width: 50%;
    text-align: center; 
}
#speed{    
    background-color: #FAE7A5;
    width: 40%;
}
footer{
    text-align: center;
    position:static;
    bottom: 0;
    width: 100%;
}